* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin: 20px 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.225) 0px 1px 10px 1px;
}

p {
    font-size: large;
    color: rgb(55, 55, 55);
}

h1 {
    font-size: 50px;
    color: rgb(55, 55, 55);
}

/* navbar */
.mainMenu {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;

    font-size: small;
    padding: 30px;
}


.logo>img {
    width: 120px;
}

.menu {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(4, 178, 178);
    text-decoration: underline;
}

/* sec 1 */
.section-1 {
    background-color: rgba(0, 255, 255, 0.236);
    padding: 50px;

}

.head {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.part-2>img {
    width: 100%;
}

.head1 {
    width: 90%;
}

.head2 {
    width: 90%;
    /* width: 350px; */
}

.part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.part-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.part-2 {
    flex: 1;
}

.button1 {
    padding: 10px 40px;
    font-size: medium;
    color: rgb(226, 73, 149);
    border: 2px solid;
    border-radius: 21px;
}

.button1:hover {
    background-color: rgb(226, 73, 149);
    color: white;
}

.sub>p {
    color: rgb(107, 107, 107);
    margin-bottom: 10;
}

.button2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button3 {
    display: flex;
    align-items: center;
    font-size: medium;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 21px;
    border: none;
}

.button3:hover {
    background-color: rgba(0, 255, 255, 0.236);
}

/* sec 3 */
.section-3 {
    margin: 0px 100px;
}

.about {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;

}

.text1 {
    width: 100%;
}

.sec1 {
    display: flex;
    align-items: center;
}

.image2>img {
    width: 100%;
}

.image3>img {
    width: 100%;
}

.thousands {
    margin: 40px;
    width: 100%;
}

.know>.button1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: medium;
}

.sec2 {
    display: flex;
    align-items: center;
}

.discount>button {
    padding: 5px 20px;
    font-size: 8px;
    background-color: rgb(4, 178, 178);
    border: solid 1px aqua;
    color: white;
    border-radius: 21px;
}

.discount>h1 {
    color: rgb(4, 178, 178);
}

.text2 {
    border: solid 1px rgb(226, 73, 149);
    height: fit-content;
    padding: 10px;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
}

.user {
    display: flex;
    align-items: center;
    gap: 50px;
}

.userImage>img {
    width: 100%;
    margin-left: 20px;
}

.box {
    display: flex;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.225) 0px 2px 2px 1px;
    border-radius: 21px;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

/* sec 4 */
.section-4 {
    text-align: center;
    margin: 40px;

}


.text5 {
    margin-bottom: 50px;
}

.text5>h1 {
    font-size: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.phone,
.email,
.open,
.address {
    border: 2px solid rgb(226, 73, 149);
    border-radius: 6px;
    /* width: 50%; */
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* margin: 40px 80px; */
    margin-top: 150px;
    margin-bottom: 40px;
}

.foot2 {
    display: flex;
    gap: 40px;

}


.section-5 {
    width: 100%;
}


@media(max-width: 600px) {

    .navbar {
        /* align-items: end; */
        padding: 30px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .head1 {
        width: 70%px;
    }

    .head2 {
        width: 40%px;
    }

    .section-1 {
        padding: 60px 40px 0px 40px;
    }

    .part {
        flex-direction: column;

    }

    .section-3 {
        margin: 40px;
        text-align: center;
    }

    .about {
        flex-direction: column;
    }

    .image1>img {
        width: 300px;
    }

    .sec1 {
        flex-direction: column;
    }

    .know {
        display: flex;
        justify-content: center;
    }

    .sec2 {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .boxes {
        display: grid;
        gap: 10px;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }


}